<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Przekierowanie HTTP do HTTPS
  RewriteCond %{HTTPS} !=on
  RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

  # Przekierowanie testowe
  RewriteRule ^test\.html$ http://www.example.com [L,R=302]

  # Przekierowanie wszystkich żądań do index.html
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>

